<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer" class="footer" style="text-align: center; border-top: 1px solid #ddd; padding-top: 10px; font-size: 10px; color: #777;">
        <p style="margin: 0;">OptimiSanté SAS - 123 Avenue de la Médecine, 75000 Paris - SIRET: 123 456 789 00012 - TVA: FR 12 3456789</p>
        <p style="margin: 3px 0 0 0;">IBAN: FR76 1234 5678 9012 3456 7890 123 - BIC/SWIFT: OPTIFRXX</p>
        <p style="margin: 3px 0 0 0;">Contact: contact@optimisante.com | Tél: +33 1 23 45 67 89</p>
        <p style="margin: 5px 0 0 0;">Page <span id="pagenumber"></span> sur <span id="pagecount"></span></p>
    </div>
</body>
</html>
